* {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  row-gap: 1rem;
}

body {
  background-color: var(--sand);
}
* {
  text-decoration: none;
  list-style-type: none;
}
