main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
.card {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 7;
  gap: 0;
}
* {
  text-decoration: none;
  list-style-type: none;
}
