* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}
* {
  text-decoration: none;
  list-style-type: none;
}
/* --- by overskrift events --- */
.by {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}
.line {
  height: 1px;
  background: black;
}

.line.top {
  width: 85%;
  margin-left: 2rem;
}

.line.bottom {
  width: 85%;
  margin-left: 2rem;
}

.dropDown {
  cursor: pointer;

  border: 0;
}

.dropDown {
  display: block;
}

.filter-buttons {
  display: none;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  margin-left: auto;
}
nav.active .filter-buttons {
  display: flex;
  padding: 1.5em;
  z-index: 100;
}
.city {
  cursor: pointer;
}
nav.active {
  background: var(--sand);
}
button.dropDown {
  border: 2px solid var(--black);
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-right: 2rem;
  margin-bottom: 1rem;
  background-color: var(--bg-color);
  border-radius: 15px;
}
nav.active ul.filter-buttons {
  top: 100%;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  width: 150px;
  padding: 1em;
  border: solid 1px black;
  margin-left: auto;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .line.top {
    width: 89%;
    margin-left: 5rem;
  }

  .line.bottom {
    width: 89%;
    margin-left: 5rem;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  button.dropDown {
    margin-right: 8rem;
  }
}
