:root {
  --lys-laks: #fceeea;
  --blue-light: #e5ecf3;
  --laks: #f7cec1;
  --mellem-laks: #f9dfd8;
  --yellow: #f9f2e9;
  --black: black;
  --white: white;
  --bg-color: #fef8f6;
  --orange: #df742d;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding: 0 2rem;
}
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: bold;
}
h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: bold;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
@media (min-width: 800px) {
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    padding: 0 4.5rem;
  }
  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
  }
  h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-style: bold;
  }
  h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: bold;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
}

header {
  background-color: var(--sand);
}
footer {
  background-color: var(--mellem-laks);
}
