---
import PageLayout from "../Layouts/PageLayout.astro";
import CardContainer from "../components/CardContainer.astro";

import "../styles/general.css";
import "../styles/style.css";
const response = await fetch("https://dyzjrnptzqhbvdfhvkgi.supabase.co/rest/v1/uge44_kalender", {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5empybnB0enFoYnZkZmh2a2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMDIwNzIsImV4cCI6MjA5MTg3ODA3Mn0.IkDrrKsAta2fGFEBNrpd2dK1SW3IJmgHoK8PPQsDjXo",
  },
});

const events = await response.json();
const groupedByCity = events.reduce((acc, event) => {
  const city = event.city ?? "Ukendt";

  if (!acc[city]) {
    acc[city] = [];
  }

  acc[city].push(event);

  return acc;
}, {});
---

<PageLayout heading="Events" />

{
  Object.entries(groupedByCity).map(([city, events]) => (
    <section>
      <h2>{city}</h2>

      <CardContainer events={events} />
    </section>
  ))
}
