---
import PageLayout from "../Layouts/PageLayout.astro";
import CardContainer from "../components/CardContainer.astro";
import "../styles/general.css";
import "../styles/style.css";
---

<PageLayout heading="Events" />
<h1>Events</h1>

<CardContainer />
