---
//@ts-nocheck
import Card from "./Card.astro";
const { events } = Astro.props;
---

<div class="grid_1-1-1 eventlist">
  {events.map((event) => <Card personData={event} />)}
</div>

<style>
  @media (max-width: 900px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr;

      padding: 1rem;
    }
  }

  @media (min-width: 900px) {
    .grid_1-1-1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(425px, 425px));
      gap: 1rem;
      margin: 4rem;
    }
  }
</style>
