---

---

<footer class="grid_foot">
  <div>
    <img src="/img/logo.svg" alt="uge 44 logo" class="logo" />
    <p>Vi skaber fælles rammer hvor man kan forholde sig til døden.</p>
  </div>
  <div>
    <h5>KONTAKT OS</h5>
    <div class="grid_footer_kontakt">
      <img src="/img/adresse_logo.svg" alt="uge 44 logo" class="logo" />
      <p>Bispebjerg Torv 16 St. TV</p>
    </div>
    <div class="grid_footer_kontakt">
      <img src="/img/telefon_logo.svg" alt="uge 44 logo" class="logo" />
      <p>33 36 49 70</p>
    </div>
    <div class="grid_footer_kontakt">
      <img src="/img/mail_logo.svg" alt="uge 44 logo" class="logo" />
      <p>info@livogdoed.dk</p>
    </div>
  </div>
  <div class="some">
    <h5>FIND OS PÅ SOCIALE MEDIER</h5>
    <div class="test">
      <img src="/img/facebook_logo.svg" alt="facebook logo" class="sociallogo" />
      <img src="/img/insta_logo.svg" alt="instagram logo" class="sociallogo" />
      <img src="/img/linkedin_logo.svg" alt="linkedin logo" class="sociallogo" />
      <img src="/img/tiktok_logo.svg" alt="tiktok logo" class="sociallogo" />
      <img src="/img/youtube_logo.svg" alt="youtube logo" class="sociallogo" />
    </div>
  </div>
</footer>

<style>
  .test {
    display: flex;
    align-items: center;
  }

  @media screen and (width>800px) {
    .grid_foot {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .grid_footer_kontakt {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .grid_foot {
    margin: 2fr;
    padding: 2em;
    gap: 1em;
  }
</style>
