<section class="grid_2-1_tilmeld">
  <div>
    <h1>Vil du være med til at sætte fokus på døden i uge 44?</h1>

    <p>Hvis I allerede nu ved, at I har et event i kalenderen, og gerne vil være en del af kampagneugen, så vil vi med glæde inkludere jer i programmet for ugen.</p>
    <p>
      Det eneste, I skal gøre, er at indsætte logoet for UGE 44 på jeres arrangements hjemmeside, på grafikken hertil eller andetsteds, og dermed tilkendegive, at I er en del af kampagneugen UGE 44 – Fokus på døden. Når I har gjort det, så skriv til
      info@livogdoed.dk – så får vi jer på listen!
    </p>
    <p>Hvis I gerne vil være med i kampagnen, men endnu ikke har en idé til hvordan, så skriv til os på info@livogdoed.dk. Her kan I få tilsendt bog-, film-, og musiklister, idéer til mulige arrangementer mm.</p>
    <a href="#">info@livogdoed.dk</a>
  </div>
  <div>
    <h5>Download logoer og andet materiale til kampagneugen UGE 44 - Fokus på døden.</h5>
  </div>
</section>

<style>
  @media screen and (width>800px) {
    .grid_2-1_tilmeld {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
  a {
    background: var(--sand);
    color: var(--black);
    border-radius: 15px;
  }
  div {
    background-color: var(--laks);
    margin: 2em 4em;
    padding: 1em;
  }
</style>
