---
import { Image } from "astro:assets";
const { title, text, plakat, caption, order } = Astro.props;
---

<section class="grid_plakat">
  <Image src={plakat} alt="plakat" class="plakat" />
  <div class="content">
    <h3>{title}</h3>
    <h5>{caption}</h5>
    <p>{text}</p>
  </div>
</section>

<style>
  @media screen and (width>800px) {
    .grid_plakat {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .content {
      order: var(--order);
    }
  }
  .plakat {
    max-height: 500px;
    padding: 3em;
    place-self: center;
  }
  .content {
    place-content: center top;
    text-align: left;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
    margin-right: 4em;
  }
</style>
