---
const { heading } = Astro.props;
import Nav from "../components/Nav.astro";
import "../styles/general.css";
import "../styles/style.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>{heading}</h1>
    <Nav />
    <slot />
  </body>
</html>
